@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@800&display=swap');
</style>

{margin: 0;padding: 0;text-decoration: none;}

header{
  width: 100%;
  height: 80px;
  background-color: #E5DDBC;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav{
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a{
  color: #E25050;
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: -0.03em;
  transition: 0.5s;
}
header nav ul li a:hover{
  color: #FFFFFF;
  font-size: 1.5em;
  transition: 0.5s;
}
.menu1{width: 200px;}
.menu2{width: 300px;}
.menu3{width: 150px;}
.menu4{width: 160px;}

.tit1{width: 604px;
    height: 119px;
background-image: url('img/tit3.png');}

.tit01{background-color: #FFFDF4;
width: 100%;
  height: 310px;
  display: flex;
  justify-content: center;
padding-top: 100px}

.cont1{width: 1011px;
    height: 1205px;
background-image: url('img/cont3.png');}

.cont01{background-color: #FFFDF4;
width: 100%;
  height: 1350px;
  display: flex;
  justify-content: center;}

footer{
  width:100%;
  height: 80px;
  background-color: #FFFDF4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-family: 'Bodoni Moda', serif;
  font-size: 1em;
}
